body {
  font-family: "Lora", serif;
  margin: 0;
  padding: 0;
  background: #e4dcd2;
}
.navigation {
  margin-top: 0px;
}
.hero-slider {
  width: 100%;
  height: 600px; /* Altura máxima del carrusel */
  overflow: hidden;
  position: relative;
}

.carousel-cell {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.carousel-cell img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.inner {
  position: absolute;
  bottom: 50px; /* Ajusta la posición inferior del texto y botón */
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: white;
  z-index: 1;
}

.subtitle {
  font-size: 2rem;
  color: #ffffff;
  padding: 5px 15px;
  border-radius: 5px;
}
.subtitle h3 {
  margin: 0px;
}
.btn {
  display: inline-block;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
  border: solid 1px #000;
  font-size: 0.9rem;
  border-radius: 10px;
}

.btn:hover {
  background: #6f2f05;
  border: solid 1px #000;
}

.flickity-page-dots {
  bottom: 15px;
}

.flickity-page-dots .dot {
  width: 8px;
  height: 8px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}

.flickity-page-dots .dot.is-selected {
  background: #7c3506;
}

.titulo-presupuesto {
  background: #fffbf6;
  width: 100%;
}
.titulo-presupuesto h2 {
  padding: 20px;
  color: #7c3506;
}

.box-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  padding: 10px;
  background-color: #fffbf6;
  border: 2px solid black;
}

.seccion {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-box {
  color: #7c3506;
  text-align: center;
}

.quantity-display {
  display: inline-block;
  width: 30px; /* Ajusta el ancho según tus necesidades */
  text-align: center;
  line-height: 1.5; /* Ajusta la altura de línea según tus necesidades */
  border-top: 1px solid #ced4da; /* Añade un borde en la parte superior */
  border-bottom: 1px solid #ced4da; /* Añade un borde en la parte inferior */
  background-color: #f8f9fa; /* Fondo similar al de los botones */
  padding: 0.375rem 0; /* Ajusta el padding para centrar verticalmente */
}

#coupon-message {
  color: red;
  font-weight: bold;
}
#coupon-message.valid {
  color: green;
}
